img {
    width: 700px;
    /* filter: blur(1px); */
    /* filter: brightness(200%); */
    /* filter: contrast(105%); */
    /* filter: grayscale(80%); */
    /* filter: opacity(70%); */
    /* filter: saturate(50%); */
    filter: drop-shadow(10px 10px 30px); /* using for image without background */
}
/* img:hover {
    filter: blur(0);
} */
h3 {
    color: blue !important;
}

h3 {
    color: brown;
}

h3 {
    color: chocolate;
}

:root {
    --text-color: red;
}
p {
    color: var(--text-color);
}